<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="classDTO"            type="babian.monitoring.demonstration.app.dto.ClassDTO" />
        <typeAlias alias="babyDTO"             type="babian.monitoring.demonstration.app.dto.BabyDTO" />
        <typeAlias alias="monitoringStatusDTO" type="babian.monitoring.demonstration.app.dto.MonitoringStatusDTO" />
    </typeAliases>

</configuration>